<div id='container_sushi_application_list' style="display: inline-block;">
  <% if @sushi_apps.empty? %>
    <font color=red>No Available Application for this DataSet</font><br />
    <%= button_to 'Back', '/run_application', :method=>:get %>
  <% else %>
    <table id="sushi_application">
      <th>Category</th><th>Application</th>
    <% @sushi_apps_category.each do |category| %>
      <tr><td><%= category %></td>
        <td>
          <% @sushi_apps[category].each do |app| %>
            <button class="sushi_app" style="font-size:13px;"><%= app.to_s %></button>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>

